<!DOCTYPE html>
<html>
  <head>
    <title>Word Definer</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="navbar">
              <ul id="menu-main-menu" class="menu" role="navigation">
                <li id="menu-item" class="menu-item">
                  <a href="/">Home</a>
                </li>
                <li id="menu-item" class="menu-item">
                  <a href="/search">Search</a>
                </li>
                <li id="menu-item" class="menu-item" role="navigation">
                  <a href="/words/all">View All</a>
                </li>
                <li id="menu-item" class="menu-item" role="navigation">
                  <a href="/words/new">New Word</a>
                </li>
              </ul>
          </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
